@using System.Activities.Expressions
@using System.Runtime.Remoting.Messaging
@using TwnData
@model ThingsWeNeed.Models.ViewModels.ThingsListViewModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ViewsScripts/ThingsListScripts.js"></script>

<div class="jumbotron">
    <div class="row">
        @if (Model.User != null)
        {
            if (Model.User.Households.Count > 0)
            {

                foreach (HouseholdEntity household in Model.User.Households)
                {
                    <h2>@household.Name needs</h2>
                    <form>
                        <table class="table table-bordered table-hover table-striped ">
                            <thead>
                                <tr>
                                    <th style="width: 50%">Thing</th>
                                    <th style="width: 40%">Last Bought</th>
                                    <th style="width: 10%" id="third_column_name">Buy</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (household.Things.Count > 0)
                                {
                                    foreach (ThingEntity t in household.Things)
                                    {
                                        <tr id="@t.ThingId">
                                            <td>@t.Name</td>
                                            <td>
                                                @if (t.Purchases.Count > 0)
                                                {
                                                    DateTime lastBought = t.Purchases.OrderBy(f => f.MadeOn).First().MadeOn;
                                                    int numberOfDays = (DateTime.Now - lastBought).Days;
                                                    <text>@numberOfDays days ago</text>
                                                }
                                                else
                                                {
                                                    <text>Not bought</text>
                                                }

                                            </td>
                                            <td>
                                                <button style="padding: 6px 40px; min-width: 60px"
                                                        type="button"
                                                        class="btn btn-success buy_button" title="Buy">
                                                    Buy
                                                </button>
                                                <div class='input-group btn_stopper' style="min-width: 106px; display: none; height: 10px">

                                                    @{
                                                        double displayPrice;
                                                        displayPrice = t.DefaultPrice;
                                                    }
                                                    <input type='text' class='form-control price_input' value="@displayPrice" />
                                                    <span class='input-group-btn'>
                                                        <input type='button' class='btn btn-danger cancel_button' value='X' title="Cancel" />
                                                    </span>
                                                </div>
                                            </td>

                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="3" style="text-align: center">
                                            No things to display
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                }
            }
            else
            {
                <h4>You are not in any households yet.</h4>
            }
        }
        else
        {
            <text>Somthing went wrong very much. No user passed to view!</text>
        }
    </div>
    <div class="row">
        <div class="col-xs-12" style="padding-left: 0px; padding-right: 0px">
            <button id="save_button" data-request-url="@Url.Action("Purchase", "Needs")" class="btn btn-danger" title="Save" style="height: 40px; width: 100%; margin-right: 0; margin-left: 0"> Save </button>
        </div>
    </div>
</div>







